################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PgJsonObjects/obj/Debug
/.vs/PgJsonParse/v15/.suo
/PgJsonParse/bin/Debug
/PgJsonParse/obj/Debug
/PgJsonParse/icons.zip
/PgJsonObjects/bin
/PgJsonObjects/obj
/PgJsonParse/bin
/PgJsonParse/obj
/.vs/PgJsonParse/v15/Server/sqlite3/db.lock
/.vs/PgJsonParse/v15/Server/sqlite3/storage.ide
/.vs/PgJsonParse/v15/Server/sqlite3/storage.ide-shm
/.vs/PgJsonParse/v15/Server/sqlite3/storage.ide-wal
/packages/Newtonsoft.Json.11.0.1/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.1/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.1/lib/net35/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.1/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.1/lib/net40/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.1/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.1/lib/netstandard1.3/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.1/lib/netstandard1.3/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.1/lib/netstandard2.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.1/lib/netstandard2.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.1/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.1/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.1/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.1/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.1/LICENSE.md
/packages/Newtonsoft.Json.11.0.1/Newtonsoft.Json.11.0.1.nupkg
