################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PgJsonObjects/obj/Debug
/.vs/PgJsonParse/v14/.suo
/PgJsonParse/bin/Debug
/PgJsonParse/obj/Debug
/PgJsonParse/icons.zip
/PgJsonObjects/bin
/PgJsonObjects/obj
/PgJsonParse/bin
/PgJsonParse/obj
/.vs/PgJsonParse/v15/Server/sqlite3/db.lock
/.vs/PgJsonParse/v15/Server/sqlite3/storage.ide
/.vs/PgJsonParse/v15/Server/sqlite3/storage.ide-shm
/.vs/PgJsonParse/v15/Server/sqlite3/storage.ide-wal
